name: Deploy UI to Firebase

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - './package.json'
      - 'packages/ui/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'

      - name: Install UI dependencies
        run: npm i

      - name: Build UI
        env:
          NODE_ENV: production
        run: npm run build -w ui -- --debug